

<div class="container top-75 position-absolute w-75 start-50 translate-middle z-3 our-bg " style="top: 25%; min-height: 200px; max-height: 700px;">
<div class="row regular-body" > 
    <div class="col-9 the-bg mt-4 mx-auto medium-title"><p>Results:</p></div>
    <div class="col-9 the-bg mt-4 mx-auto">
        <p class="regular-body">💸 Your price range is: 1000 SAR to 2000 SAR</p>
    </div>
    <div class="col-9 the-bg mt-4 mx-auto  position-relative">
        <p class="regular-body">⌛ The time to take is 2 to 3 years</p>
    </div>
    <div class="col-9 the-bg mx-auto my-4">
       <a href="#"><p>👷🏻‍♀️ Contact our Architect</p></a>
    </div>
</div>
</div>
