<div class="position-relative">
  <app-header (isNavShown)="onClicked($event)"></app-header>
  <app-mobile-nav *ngIf="isMobileShow" ></app-mobile-nav>
  <app-main-frame></app-main-frame>
  <div style="background: linear-gradient(180deg, #ADD3F1 0%, #004E89 100%); position: relative;">
    <app-arch-ai-layout (output)="onSubmitted()"></app-arch-ai-layout>
  </div>
  <div *ngIf="isOutputShow" style="background: linear-gradient(180deg, #004E89 0%, #ADD3F1 100%); position: relative; height: 500px">
  <app-form-output></app-form-output>
</div>
  <app-footer></app-footer>
</div>
